
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxanium;
  color: #ffff;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    overflow-x: hidden;
}
nav{
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    cursor: pointer ;
}
.logo img{
    height: 200px;
    width: 200px;
}
.navpart2{
    width: 100%;
    display: flex;
    align-items: center;
    gap:2vw;
}

.navpart2 h3{
    font-size: 1vw;
    width: fit-content;
    font-weight: 600;
}
.navpart2 i{
    opacity: 0;
}
.navpart2 :nth-child(1):hover i{
   opacity: 1;
}

.navpart2 :nth-child(7):hover i{
   opacity: 1;
}
.anchor{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;

}
.anchor a{
    text-decoration: none;
     font-size: 0.9vw;
   }
.anchor{
  font-size: 0.8vw;
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

.hero{
    display: flex;
    justify-content:space-between;
}
.content{
    width: 50%;
    display: flex;
    justify-content:end;
    padding: 0px 70px;
    flex-direction: column;
    height: 75%;
}
.content h1{
    text-transform: uppercase;
}
.content p{
    margin-top: 10px;
    width: 100%;
    font-size: 1vw;
}
.content a{
    margin-top: 30px;
    text-decoration: none;
    font-size: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.374);
    width: fit-content;
    padding: 10px 10px;
    border-radius: 5px;
}
.content a:hover{
    background-color: #ffff;
    color: #000000;
    transition: all linear 0.3s;
}
.content a:hover i{
    color: #000000;
}
video{
    height: 100vh;
    width: 50%;
}
.hero2{
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero2 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);
}

.content2{
    position: absolute;
    top: 10%;
    z-index: 999;
  left: 45%;
}
.content2 h1{
    width: 100%;
    text-transform: uppercase;
    font-size: 3vw;
}
.content2 p{
    margin-top: 25px;
    font-size: 1vw;
    width: 80%;
    margin-bottom: 25px;
}

.content2 a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.374);
    width: fit-content;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #00000063;
}

.content2 a:hover{
    background-color: #ffff;
    color: #000000;
    transition: all linear 0.3s;
}
.content2 a:hover i{
    color: #000000;
}

.vedi0{
    position: relative;
}
.hero3 video{
    height: 90%;
    width: 100%;
    filter: brightness(80%);
}

.contentnext{
    width: 50%;
    left: 10%;
    top: 30%;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
    font-weight: 500;
    padding: 0px 50px;
}

footer .footercentre{
    display: flex;
    gap: 20px;
}

footer .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 2vw;
    background-color: #000000;
    border-radius: 50%;
}

footer .footercentre h3{
    font-weight: 500;
}
footer .rights h3{
    font-weight: 500;
}